body {
  background-color: var(--main-bgColor);
}

.App {
  color: var(--main-fontColor);

  min-height: 100vh;
  max-width: 30rem;
  margin: 0 auto;
}

article {
  border: 1px solid white;
  border-radius: 15px;
  padding: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section > * {
  margin-top: 1rem;
}

form {
  display: flex;
  flex-direction: column;

}

.postCredit {
  display: flex;
  justify-content: flex-end;

  text-align: end;
  font-size: 1rem;
}

.reactionButton {
  background: transparent;
  border: 1px solid brown;
  border-radius: 10px;
  font-size: 1rem;
  color: var(--main-fontColor);
}

.deleteButton {
  background-color: brown;
}

.header {
  position: sticky;
  left: 0;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--main-bgColor);
}

.header > h1 {
  font-size: 2rem;
}

.header > nav > ul {
  display: flex;
  gap: 1rem;

  align-items: center;

  list-style: none;
}

.header > nav > ul > li > a {
  font-size: 1.5rem;
}