body {
  background-color: rgb(56, 54, 54);
}

.App {
  color: lightgray;

  min-height: 100vh;
  max-width: 30rem;
  margin: 0 auto;
}

article {
  border: 1px solid white;
  border-radius: 15px;
  padding: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section > * {
  margin-top: 1rem;
}

form {
  display: flex;
  flex-direction: column;

}